.editor {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-rows: 1fr 400px 60px 1fr;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
.editor__button-actions {
  width: 100%;
  padding: 2rem 2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;
  cursor: pointer;
}
.editor__button-actions button {
  cursor: pointer;
}

.editor__details {
  padding: 0 1rem;
  margin: auto;
  background-color: #fff;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.details-title,
.details-element {
  text-align: left;
  color: #000;
  margin: 0;
}
.details-title {
  font-size: 14px;
}
.details-element {
  font-size: 12px;
}

.editor__details-position,
.editor__details-dimension,
.editor__details-orientation {
}
.editor__details-dimension {
  min-width: 78px;
}

.editor__submit {
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 780px) {
  .editor__button-actions {
    padding: 2rem 1rem 0;
  }
  .editor__submit {
    padding: 2rem 1rem;
  }
}
